.img_container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.selected{
    width: 70%;
    margin: 1.5rem auto;
    padding: 8px 12px;
    border-radius: 25px;
    background-color: hsl(211, 19%, 24%);
    text-align: center;
    color: hsl(25, 97%, 53%);
    font-size: 1rem;
}

.title{
    color: white;
    margin: 2rem 0 1rem 0;
    text-align: center;
}

.text{
    text-align: center;
    color: hsl(217, 12%, 63%);
    font-size: 0.95rem;
    margin-bottom: 1.25rem;
    line-height: 1.4rem;
}