@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  font-family: 'Overpass', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(216,12%,8%);
  position: relative;
}

.attribution{
  position: absolute;
  bottom: 1%;
  height: 30px;
  /* width: 100vw; */
  right: 50%;
  transform: translateX(50%);
  /* text-align: center; */
  color: white;
}

.attribution span{
  color:  hsl(25, 97%, 53%);;
}